.lotusContent {
	overflow-x: auto;	
}

/* sections */
.section {
	margin: 0 0 15px 0;
	padding: 6px 3px 2px 3px;
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.section .title {
  color: #666666;
  font-size: 1.7em;
  font-weight: normal;
  line-height: 1.2em;
}
.section .actions {
	position: absolute;
	left: 350px;
	top: 2px;
}

.xspPanelViewColumnHeader {
	padding-left: 0;
	padding-right: 5px;
 	font-weight: bold;
	font-size: 11px;	
}

td {
	vertical-align: top;
}

textarea {
	width: 350px;
}

.lotusTable th {
	font-weight: bold;	
}

/*remove white background from rt fields*/
.xspInputFieldRichText {
	background: inherit;	
}

/*logo in banner*/
.logo {
	padding-top: 14px;
	padding-left: 9px;	
}
/*title in banner*/
.lotusBanner ul.lotusLinks {
	font-size: 16px;	
}
.lotusBanner ul.lotusLinks a {
	padding: 6px 4px 0 1px;
}

/* font size in listtextbox */
.lotusFilters {
	font-size: inherit;	
}

/* table 'grid' style */
table.grid {
	border-collapse: collapse;
}
table.grid > tbody > tr > th, table.grid > thead > tr > th, table.grid > tbody > tr > td.label {
	border: 1px solid silver;
	background-color: #F4F5F6;
	padding: 5px;
	text-align: left;
	font-weight: bold;	
	white-space: noWrap
}
table.grid > tbody > tr > td {
	border: 1px solid silver;	
	padding: 5px;
}
table.grid ul {
	margin-bottom:0;
}

td.noBorders {
	border: 0 !important;	
}

.highlight {
	background-color: #F4F5F6;
}

input.xspInputFieldEditBox, .lotusForm textarea {
	width: 300px;
}

input.mediumLength {
	width: 125px;	
}


/*number input fields*/
.number {
	width: 25px;	
}
.numberLarge {
	width: 65px;	
}

/* images in buttons */
button > img {
	padding-right:4px;	
}


fieldset.xspRadioButton label, fieldset.xspCheckBox label, .twoColumns label {
	font-weight: normal !important;
}
fieldset.xspRadioButton td, fieldset.xspCheckBox td {
	padding:0 !important;
	border:0 !important;
}

/* add padding to first row in formtables */
table.lotusFormTable > tbody > tr:first-child > td {
	padding-top: 15px;	
}

/*remove padding on td's in a checkbox/ radio group */
tr.lotusFormFieldRow > td > table {
	border-collapse: collapse;	
}
tr.lotusFormFieldRow > td > table > tbody > tr > td {
	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
}

fieldset.xspRadioButton input {
	margin-top: 0;
}
label.xspRadioButton {
	font-weight: normal !important;	
}

label.xspCheckBox {
	font-weight: normal !important;
}

/*forms*/
.formSection {
	padding-bottom: 10px;
}

.formSection td {
	font-weight: bold;
	font-size: 14px;
	padding: 10px 0 10px 10px !important;
}


/*mark columns not to wrap*/
td.noWrap {
	white-space: nowrap;
}

/*hide view panel column header bar*/
.xspDataTableViewPanelHeaderStart, .xspDataTableViewPanelHeaderMiddle, .xspDataTableViewPanelHeaderEnd,
.xspDataTableViewPanelFooterStart, .xspDataTableViewPanelFooterMiddle, .xspDataTableViewPanelFooterEnd {
display: none;
}

/*height of li elements in the top banner*/
.lotusBanner li {
	line-height: 35px;
}

/*override top margin for delete action in message*/
.lotusMessage .lotusDelete {
  top: 4px;
}

/*don't highlight clicked container nodes in navigator*/
.lotusMenu li.lotusSelected h3 a {
	background: inherit;
	color: inherit !important;
	border:0;
}

/*remove dotted links from ff*/
a:active {
  outline: none !important;
}
:focus {
  -moz-outline-style: none;
}


/*
 * maximum width of messages
 */
.lotusMessage {
	max-width: 550px;	
	background-image: url(/oneuiv2/images/iconError16.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 13px;
}

/* icon for messages */
.lotusWarning {
	background-image: url(/oneuiv2/images/iconWarning16.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
}

.lotusError {
	background-image: url(/oneuiv2/images/iconError16.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
}

.lotusInfo {
	background-image: url(/oneuiv2/images/iconInfo16.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
}

.lotusConfirm {
	background-image: url(/oneuiv2/images/iconConfirmation16.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
}

/*
 *updates section
 */
.lotusForum .lotusPostAuthorInfo {
  width: 40px;
  padding-right: 0;
}
.lotusForum .lotusPostContent {
  padding-right: 0;
}

/*textarea: same margin as input fields */
.lotusForm textarea {
	margin-left: 0.1em;		
}

/* 2 columns for cb group */
.twoColumns { display: inline; }
.twoColumns td { 
	float: left; 
	width: 300px;
	padding-bottom: 5px !important;
	padding-right: 4px;
	white-space: nowrap;
}

.asBlock > span > span {
	display: block;
	margin-left: 0 !important;
}

/*correct margin on first p tag in rt fields */
.lotusui p:first-child {
	margin: 2px 0 0 0;
}

.pointer {
	cursor: hand; cursor: pointer;
}

/* always show scrollbar on ios for overflow div */
.showScrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.showScrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.xspDataTableFileDownload th {
	display: none;
}
.xspDataTableFileDownload td {
	padding: 4px !important;
}

.lotusFormRequired {
	padding-right: 3px;
}

.xspMessage {
	border:0;
	background:none;
	color: red;
}

/*call tree*/
* {margin: 0; padding: 0;}
.callTree ul { padding-top: 20px; position: relative;}
.callTree li { 
	float: left; text-align: center; 
	list-style-type:
		none; position: relative; padding: 20px 5px 0 5px; }

.callTree li::before, .callTree li::after{
	content: '';
		position: absolute; top: 0; right: 50%; border-top: 1px solid
		#ccc; width: 50%; height: 20px; }
		
.callTree li::after{ right:
		auto; left: 50%; border-left: 1px solid #ccc; }

/* remove left-right connectors from elements without any siblings */ 
.callTree li:only-child::after, .callTree li:only-child::before {
display: none;
}

/* remove space from the top of single children */ 
.callTree
li:only-child{ padding-top: 0;}

/*remove left connector from first child and right connector from last child*/
.callTree li:first-child::before, .callTree
li:last-child::after{ 
border: 0 none;
}
 /*vertical connectors to last nodes*/
.callTree li:last-child::before{ border-right: 1px
		solid #ccc; 
		border-radius: 0 4px 0 0; 
		-webkit-border-radius: 0
		4px 0 0; 
		-moz-border-radius: 0 4px 0 0; }
.callTree li:first-child::after{ border-radius: 4px 0 0 0;
		-webkit-border-radius: 4px 0 0 0; -moz-border-radius: 4px 0 0 0;
		}
.callTree a.removeLink {
	position: absolute; top: 0px; right: 3px; }

/*downward connectors*/
.callTree ul ul::before{
		content: '';
		position: absolute; top: 0; left: 50%; border-left: 1px solid
		#ccc; width: 0; height: 20px; }

.callTree li > div {
		position: relative; border: 1px solid #ccc;
		padding: 7px; text-decoration: none; display: inline-block;
		width: 130px;
		border-radius: 4px; -webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		transition: all 0.5s; -webkit-transition: all 0.5s;
		-moz-transition: all 0.5s; }

/*hovers on call tree els*/
.callTree li > div:hover, .callTree
		li > div:hover+ul li > div { background: #f4f5f6; border: 1px
		solid #bbb; }
		
/*vertical call tree */
.callTreeVert {
	padding-top: 15px;	
}
.callTreeVert ul {
	list-style-type: none;	
	padding: 0 20px;
}
callTreeVert > ul {
	padding: 0;	
}
.callTreeVert li > div {
	position: relative;
	width: 160px;
	border: 1px solid #ccc;
	padding: 7px;
	margin: 7px;
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
}
.callTreeVert a.removeLink {
	position: absolute; top: 0px; right: 3px; 
}